<section class="section container">
  <ul class="row cards">
    <li class="col-md-3">
      <a href="/slots/pt" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/5725c12a323d9824d52fc0f89dc7669b005c2eba1d1a3f698239f96ed2b57ea2.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">PT Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/mgs" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/6b8d4abbf3a5c76bd418ff39ae70eb03ff3da90d15714a32c753e7e9d0122ba1.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">MG Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/png" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/ea94a64dd5fb5e4f06b266323e3c2340f02984cb4ff1d3891dbf23a4d7b306f8.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">PNG Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/gpi" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/312614a395675a9bee66f0c0914edcde2bae50937a5a37cc0d41b8b1dff2968b.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">GPI Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/ttg" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/be414d2dc2d3068b609e717106c7833b67a958868571882979b6b505647a1e03.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">TTG Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/isoftbet" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/8fbd42d13593802c2d5b8300bae43630fe35997e8032fcd8729fee18b3bd0e96.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">ISB Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/betsoft" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/e0c31c312ff9284fa2ae8eda33fdfed51dccca3934dfc2373ac0aad892b1ea3e.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">BS Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/gspot" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/47507a80ffe80e0af6041ba0c85ba69677cd4872108cec3073651327e85eee15.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">GS Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/qtech" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/05ba76ce45e8d8051c7c74f3e9ef678e4a707a934c5217753bd09716c7ffde15.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">QT Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/uc8" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/09286bbf0fcc987a9c9fa61957de334d5d66de5adef18e9e6fec9fb011ec0efc.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">UC8 Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/pplay" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/c5ec244409fef918e8ae9248a61cf11b6f7c8b0046dfcc0674b8740a59080c28.jpg"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">PP Slots</span>
        </span>
      </a>
    </li>
    <li class="col-md-3">
      <a href="/slots/netent" target="_self" class="card">
        <span class="card-img-wrapper">
          <img
            class="card-img"
            src="/uploaded/spade888/18a842c96342192b52067b7467a78f7f54591010c0cf44ea8eaf2cadc54611fa.png"
            alt=""
          />
        </span>
        <span class="card-footer card-img-overlay">
          <span class="game-title">Netent Slots</span>
        </span>
      </a>
    </li>
  </ul>
</section>
